<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h1>Hi There!</h1>
    <p>This is our about page!</p>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
